<html>
</head>        
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="http://localhost:8000/views/style/main.css">
    <title>Dogs</title>
</head>
<body>
    <h1 class="display-4 text-center breedName"><%= breed %></h1>
    <div class="imageFrame">
        <img class="rounded img-fluid"src="<%= image %>" height="420" width="420"/>
    </div>
    <nav class="paginationindex">
            <% if (pages > 0) { %>
                <ul class="pagination text-center">
                    <% if (current == 1) { %>
                        <li class="page-item disabled"><a class="page-link">First</a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/1">First</a></li>
                    <% } %>
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="disabled page-item"><a class="page-link">...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="active page-item"><a class="page-link"><%= i %></a></li>
                        <% } else { %>
                            <li class="page-item"><a class="page-link" href="/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="disabled page-item"><a class="page-link">...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="disabled page-item"><a class="page-link">Last</a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/<%= pages %>">Last</a></li>
                    <% } %>
                </ul>
            <% } %>
            </nav>
</body>
</html>